
@{
    ViewBag.Title = "Upload";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col l6 offset-l3">
            <form action="#">
                <div class="file-field">
                    <div class="btn waves-effect waves-light col l12" id="fileSelect">
                        <span>File</span>
                        <input type="file" multiple accept="image/*">
                    </div>
                </div>
            </form>
            
        </div>
        <div class="col l6 offset-l3">
            <br/>
            <div class="progress">
                <div class="determinate" style="width: 0" id="load"></div>
            </div>
            <br/>

            <div class="collection" id="uploadList">
            </div>
        </div>
    </div>
</div>